$accent: #EB4A42;

$primary-text: #555555;
$secondary-text: #AAAAAA;
$unimportant-text: #CCCCCC;

$light-background: #EAEAEA;

$disabled-button-text: #BFBFBF;
$disabled-button-background: #E0E0E0;

$incorrect-input: #b20d01;