// TODO: probably better to remove the '-color' suffix where used (or add it everywhere for consistency).
$accent-color: #EB4A42;

$primary-text-color: #555555;
$secondary-text-color: #AAAAAA;
$unimportant-text-color: #CCCCCC;

$light-background: #EAEAEA;

$disabled-button-text-color: #BFBFBF;
$disabled-button-background: #E0E0E0;