// Use this to debug the layout.
//.row > [class*='col-'] {
//  border: 2px solid red;
//}

@import 'mixins';
@import 'colors';

@include fontFace($family:'Montserrat-Regular', $src:'../assets/fonts/Montserrat/Montserrat-Regular');
@include fontFace($family:'Roboto-Light', $src:'../assets/fonts/Roboto/Roboto-Light');
@include fontFace($family:'Roboto-Regular', $src:'../assets/fonts/Roboto/Roboto-Regular');

/*TEXT FORMATS*/
.text-logo {
  font-size: 47px;
  font-family: 'Montserrat-Regular';
  text-decoration: underline;
  color: $accent;
}

.text-normal {
  font-size: 16px;
  font-family: 'Roboto-Light';
  color: $secondary-text;
}

.text-button-no-input, button:hover.text-button-no-input {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $disabled-button-text;
}

.text-button-with-input, button:hover.text-button-with-input {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: white;
}

.text-section-heading {
  font-size: 22px;
  font-family: 'Roboto-Light';
  color: $primary-text;
}

.text-url-body, .text-data {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $primary-text;
}

.text-clear-history-link, .text-url-shortcode {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $accent;
}

.text-clear-history-link:hover {
  cursor: pointer;
  color: $accent
}

.text-url-original {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $unimportant-text;
}

.text-table-heading {
  font-size: 14px;
  font-family: 'Roboto-Regular';
  color: $secondary-text;
}

.text-form-control {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $primary-text;
}

.text-form-control-validation-help {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $accent;
}
/*TEXT FORMATS*/

/*FLEXBOX CROSS AXIS ALIGNMENTS*/
.flex-cross-axis-align-baseline {
  display: flex;
  align-items: baseline;
}

.flex-cross-axis-align-center {
  display: flex;
  align-items: center;
}
/*FLEXBOX CROSS AXIS ALIGNMENTS*/

/*MARGINS*/
.row {
  margin-right: 10em;
  margin-left: 10em;
}

.headline, .user-input {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.clear-history, .link-list-header, .link-list-row {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/*MARGINS*/

/*TEXT ALIGNMENTS*/
.text-align-center {
  text-align: center;
}
/*TEXT ALIGNMENTS*/

/*PADDINGS*/
.padding-left-description {
  padding-left: 9.5em;
}

.padding-left-button {
  padding-left: 2em;
}
/*PADDINGS*/

/*BACKGROUND COLORS*/
.form-control {
  background-color: $light-background;
}

.button-no-input, button:disabled:hover.button-no-input {
  background-color: $disabled-button-background;
}

.button-with-input, button:hover.button-with-input {
  background-color: $accent;
}
/*BACKGROUND COLORS*/

/*SIZES*/
.width-button-no-input, .width-button-with-input {
  width: 10em;
}
/*SIZES*/

/*SHOW'N'HIDE*/
.row > [class*='col-'] > div > span {
  cursor: pointer;
}

.row > [class*='col-'] > div > span.text-url-body:hover + span.text-url-shortcode::after,
.row > [class*='col-'] > div > span.text-url-shortcode:hover::after {
  content: "Click to copy this link";
  margin-left: 2em;
}
/*SHOW'N'HIDE*/