// Use this to debug the layout.
//.row > [class*='col-'] {
//  border: 2px solid red;
//}

@import 'mixins';
@import 'colors';

@include fontFace($family:'Montserrat-Regular', $src:'../assets/fonts/Montserrat/Montserrat-Regular');
@include fontFace($family:'Roboto-Light', $src:'../assets/fonts/Roboto/Roboto-Light');
@include fontFace($family:'Roboto-Regular', $src:'../assets/fonts/Roboto/Roboto-Regular');

/*TEXT FORMATS*/
.text-logo {
  font-size: 47px;
  font-family: 'Montserrat-Regular';
  text-decoration: underline;
  color: $accent;
}

.text-normal {
  font-size: 16px;
  font-family: 'Roboto-Light';
  color: $secondary-text;
}

.text-button-no-input, button:hover.text-button-no-input {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $disabled-button-text;
}

.text-button-with-input, button:hover.text-button-with-input {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: white;
}

.text-previously-shortened {
  font-size: 22px;
  font-family: 'Roboto-Light';
  color: $primary-text;
}

.text-url-body, .text-data {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $primary-text;
}

.text-clear-history-link, .text-url-shortcode {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $accent;
}

.text-clear-history-link:hover {
  cursor: pointer;
  color: $accent
}

.text-url-original {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  cursor: pointer;
  color: $unimportant-text;
}

.text-table-heading {
  font-size: 14px;
  font-family: 'Roboto-Regular';
  color: $secondary-text;
}

.text-form-control {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $primary-text;
}

.text-form-control-validation-help {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $accent;
}
/*TEXT FORMATS*/

/*MARGINS*/
// TODO: remove when done
.row {
  margin-right: 0;
  margin-left: 0;
}

* {
  border: 1px solid red;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#app {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  border: 3px dashed black;
}

// This is needed so this div coincides with #app, into which we mount our app.
.components {
  padding: 0;
  margin: 0;
  width: 100%;
}

.headline {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
}

.user-input {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
}

.form {
  width: 75%;
}

.button {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logo {
  width: 50%;
}

.description {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.clear-history {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.previously-shortened {
  width: 50%;
}

.clear-history-link {
  width: 50%;
}

.link-list-header {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  display: flex;
  flex-direction: row;
}

.link-list-row {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-list-header-link, .link-list-row-link {
  width: 65%;
}

.link-list-header-visits, .link-list-row-visits {
  width: 10%;
}

.link-list-header-last-visited, .link-list-row-last-visited {
  width: 25%;
}
/*MARGINS*/

/*TEXT ALIGNMENTS*/
.text-align-center {
  text-align: center;
}
/*TEXT ALIGNMENTS*/

/*BACKGROUND COLORS*/
.form-control {
  background-color: $light-background;
}

.button-no-input, button:disabled:hover.button-no-input {
  background-color: $disabled-button-background;
}

.button-with-input, button:hover.button-with-input {
  background-color: $accent;
}
/*BACKGROUND COLORS*/

/*SIZES*/
.width-button-no-input, .width-button-with-input {
  width: 10em;
}
/*SIZES*/

/*SHOW'N'HIDE*/
.row > [class*='col-'] > div > span {
  cursor: pointer;
}

.row > [class*='col-'] > div > span.text-url-body:hover + span.text-url-shortcode::after,
.row > [class*='col-'] > div > span.text-url-shortcode:hover::after {
  content: "Click to copy this link";
  margin-left: 2em;
}
/*SHOW'N'HIDE*/