@import 'mixins';
@import 'colors';

@include fontFace($family:'Montserrat-Regular', $src:'../assets/fonts/Montserrat/Montserrat-Regular');
.text-logo {
  font-size: 47px;
  font-family: 'Montserrat-Regular';
  text-decoration: underline;
  color: $accent-color;
}

@include fontFace($family:'Roboto-Light', $src:'../assets/fonts/Roboto/Roboto-Light');
.text-normal {
  font-size: 16px;
  font-family: 'Roboto-Light';
  color: $secondary-text-color;
}

.text-section-heading {
  font-size: 22px;
  font-family: 'Roboto-Light';
  color: $primary-text-color;
}

@include fontFace($family:'Roboto-Regular', $src:'../assets/fonts/Roboto/Roboto-Regular');
.text-url-body, .text-data {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $primary-text-color;
}

.text-clear-history-link, .text-url-shortcode {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $accent-color;
}

.text-clear-history-link:hover {
  cursor: pointer;
  color: $accent-color
}

.text-url-original {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $unimportant-text-color;
}

.text-table-heading {
  font-size: 14px;
  font-family: 'Roboto-Regular';
  color: $secondary-text-color;
}

// These two are needed to give row cells equal height.
// If decide to abandon React Bootstrap, check: http://www.bootply.com/127827# or https://jsfiddle.net/nV3Ua/1821/
.row {
  display: flex;
  align-items: baseline;
  //flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  //align-items: center;
}

.headline, .user-input {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.clear-history, .link-list-header, .link-list-row {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.text-align-end {
  text-align: end;
}

// TODO: since color prop doesn't do anything, probably only need only one directive.
.form-no-input {
  background-color: $light-background;
  color: $secondary-text-color; // can't change placeholder's color like so.
}

.form-with-input {
  background-color: $light-background;
  color: $primary-text-color; // can't change placeholder's color like so.
}

.button-no-input, button:disabled.button-no-input, button:disabled.button-no-input:hover {
  background-color: $disabled-button-background;
  color: $disabled-button-text-color;
}

.button-with-input, button:hover.button-with-input {
  background-color: $accent-color;
  color: white;
}