// FOR DEBUGGING
//* {
//  border: 1px solid red;
//}

// TODO: add vendor prefixes

@import 'mixins';
@import 'colors';

@include fontFace($family:'Montserrat-Regular', $src:'../assets/fonts/Montserrat/Montserrat-Regular');
@include fontFace($family:'Roboto-Light', $src:'../assets/fonts/Roboto/Roboto-Light');
@include fontFace($family:'Roboto-Regular', $src:'../assets/fonts/Roboto/Roboto-Regular');

// TODO: decide on whether to use prefixes (e.g., "text-") or postfixes (e.g., "-container")

/*TEXT FORMATS*/
.text-logo {
  font-size: 47px;
  font-family: 'Montserrat-Regular', sans-serif;
  text-decoration: underline;
  color: $accent;
}

.text-normal {
  font-size: 16px;
  font-family: 'Roboto-Light', sans-serif;
  color: $secondary-text;
}

.text-previously-shortened {
  font-size: 22px;
  font-family: 'Roboto-Light', sans-serif;
  color: $primary-text;
}

.text-url-body, .text-data {
  font-size: 16px;
  font-family: 'Roboto-Regular', sans-serif;
  color: $primary-text;
}

.text-clear-history-link, .text-url-shortcode {
  font-size: 16px;
  font-family: 'Roboto-Regular', sans-serif;
  color: $accent;
}

.text-clear-history-link:hover {
  cursor: pointer;
  color: $accent
}

.text-url-original {
  font-size: 16px;
  font-family: 'Roboto-Regular', sans-serif;
  cursor: pointer;
  color: $unimportant-text;
}

.text-url-original:hover {
  color: $link-hover;
}

.text-table-heading {
  font-size: 14px;
  font-family: 'Roboto-Regular', sans-serif;
  color: $secondary-text;
}

.text-input {
  font-size: 16px;
  font-family: 'Roboto-Regular', sans-serif;
  color: $primary-text;
}

.text-validation-help {
  font-size: 16px;
  font-family: 'Roboto-Regular', sans-serif;
  color: $incorrect-input;
}
/*TEXT FORMATS*/

/*FLEX CONTAINERS*/
body {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#root {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  //border: 3px dashed black; // FOR DEBUGGING
}

// This is needed so this div coincides with #app, into which we mount our app.
.components {
  padding: 0;
  margin: 0;
  width: 100%;
}

.headline-container {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
}

.logo-container {
  width: 50%;
}

.description-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.user-input-container {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
}

.form-container {
  width: 75%;
  position: relative;
}

.button-container {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.input-feedback-icon-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-history-container {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.previously-shortened-container {
  width: 50%;
}

.clear-history-link-container {
  width: 50%;
}

.link-list-header-container {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  display: flex;
  flex-direction: row;
}

.link-list-row-container {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-list-header-link-container, .link-list-row-link-container {
  width: 65%;
}

.link-list-header-visits-container, .link-list-row-visits-container {
  width: 10%;
  display: flex;
  justify-content: center;
}

.link-list-header-last-visited-container, .link-list-row-last-visited-container {
  width: 25%;
  display: flex;
  justify-content: center;
}
/*FLEX CONTAINERS*/

/*INPUT COLOR*/
// See: https://css-tricks.com/almanac/selectors/p/placeholder/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $secondary-text;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $secondary-text;
  opacity: 1; // By default, all placeholders in Firefox have an opacity value applied to them, need to reset
}
:-moz-placeholder { /* Firefox 18- */
  color: $secondary-text;
  opacity: 1; // By default, all placeholders in Firefox have an opacity value applied to them, need to reset
}
:-ms-input-placeholder { /* IE 10+ */
  color: $secondary-text;
}
/*INPUT COLOR*/

/*ICONS*/
.incorrect-input-icon {
  width: 12px; // or .75rem
  height: 12px;  // or .75rem
  stroke-width: 1;
  stroke: $incorrect-input;
  fill: $incorrect-input;
}

.correct-input-icon {
  width: 12px; // or .75rem
  height: 12px;  // or .75rem
  stroke-width: 1;
  stroke: $correct-input;
  fill: $correct-input;
}
/*ICONS*/

// TODO: put somewhere
.input-help {
  margin-top: 5px;
  margin-bottom: 10px;
}

/*BUTTON*/
button {
  width: 10em; // TODO: decide on the most appropriate CSS length unit
  white-space: nowrap;
  padding: 6px 12px; // TODO: decide on the most appropriate CSS length unit
  border-radius: 4px;
  border-width: .8px;
  // touch-action: manipulation; // See: https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action?v=control

  // TODO: probably move to a separate class
  /*text format*/
  font-size: 16px;
  font-family: 'Roboto-Regular', sans-serif;
  color: white; // TODO: use scss to establish the value
  background-color: $accent;  // TODO: use scss to establish the value
}

button[disabled] {
  opacity: 0.65;
  cursor: not-allowed;

  // TODO: probably move to a separate class
  /*text format*/
  font-size: 16px;
  font-family: 'Roboto-Regular', sans-serif;
  color: $disabled-button-text;  // TODO: use scss to establish the value
  background-color: $disabled-button-background;  // TODO: use scss to establish the value
}
/*BUTTON*/

/*TEXT INPUT*/
input[type=text] {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: $light-background;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

  transition-property: border-color, box-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}

input[type=text]:focus {
  @include highlightInputOnFocus($borderColor: $focus-input);
}

input[type=text].input-focus-incorrect:focus {
  @include highlightInputOnFocus($borderColor: $incorrect-input);
}

input[type=text].input-focus-correct:focus {
  @include highlightInputOnFocus($borderColor: $correct-input);
}
/*TEXT INPUT*/

/*SHOW'N'HIDE*/
//.text-url-body:hover + .text-url-shortcode::after,
//.text-url-shortcode:hover::after {
//  content: "Click to copy this link";
//  margin-left: 2em;
//}

.copy-suggestion-visible {
  margin-left: 2em;

  font-size: 16px;
  font-family: 'Roboto-Regular', sans-serif;
  color: $accent;
}

.copy-suggestion-hidden {
  display: none;
}
/*SHOW'N'HIDE*/