// Use this to debug the layout.
.row > [class*='col-'] {
  border: 2px solid red;
}

@import 'mixins';
@import 'colors';

@include fontFace($family:'Montserrat-Regular', $src:'../assets/fonts/Montserrat/Montserrat-Regular');
.text-logo {
  font-size: 47px;
  font-family: 'Montserrat-Regular';
  text-decoration: underline;
  color: $accent-color;
}

@include fontFace($family:'Roboto-Light', $src:'../assets/fonts/Roboto/Roboto-Light');
.text-normal {
  font-size: 16px;
  font-family: 'Roboto-Light';
  color: $secondary-text-color;
}

.text-section-heading {
  font-size: 22px;
  font-family: 'Roboto-Light';
  color: $primary-text-color;
}

@include fontFace($family:'Roboto-Regular', $src:'../assets/fonts/Roboto/Roboto-Regular');
.text-url-body, .text-data {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $primary-text-color;
}

.text-clear-history-link, .text-url-shortcode {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $accent-color;
}

.text-clear-history-link:hover {
  cursor: pointer;
  color: $accent-color
}

.text-url-original {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $unimportant-text-color;
}

.text-table-heading {
  font-size: 14px;
  font-family: 'Roboto-Regular';
  color: $secondary-text-color;
}

.text-form-control {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $primary-text-color;
}

.flex-cross-axis-align-baseline {
  display: flex;
  align-items: baseline;
}

.flex-cross-axis-align-center {
  display: flex;
  align-items: center;
}

.row {
  margin-right: 10em;
  margin-left: 10em;
}

.headline, .user-input {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.clear-history, .link-list-header, .link-list-row {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.text-align-end {
  text-align: end;
}

.text-align-center {
  text-align: center;
}

.form-control {
  background-color: $light-background;
}

.text-button-no-input {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $disabled-button-text-color;
}

.text-button-with-input {
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: white;
}

.button-no-input, button:disabled.button-no-input, button:disabled.button-no-input:hover {
  background-color: $disabled-button-background;
  width: 12em;
}

.button-with-input, button:hover.button-with-input {
  background-color: $accent-color;
  width: 12em;
}